name: Build Mod

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Gradle
        run: gradle build

      - name: Upload mod jar
        uses: actions/upload-artifact@v4
        with:
          name: No-More-Lives-Mod
          path: build/libs/*.jar
